* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #111;
}

.container {
  display: flex;
  height: 100vh;
  background: #fff;
}

/* HERO SECTION */
.hero {
  flex: 1;
  background: url("/static/images/hostel-hero.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(40, 25, 20, 0.55);
  color: #fff;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.brand .logo {
  background: #ff7a45;
  padding: 10px;
  border-radius: 12px;
  margin-right: 10px;
}

.hero h1 {
  font-size: 42px;
  line-height: 1.2;
}

.hero p {
  font-size: 16px;
  max-width: 420px;
  opacity: 0.9;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  margin: 20px 0;
}

.features span {
  background: rgba(255,255,255,0.15);
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  width: 300px;
}

blockquote {
  font-style: italic;
  font-size: 14px;
  opacity: 0.9;
}

/* REGISTER SECTION */
.register {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.register-box {
  width: 100%;
  max-width: 380px;
}

.register-icon {
  background: #fff2ec;
  color: #ff7a45;
  width: 48px;
  height: 48px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.register-box h2 {
  font-size: 28px;
}

.subtitle {
  color: #777;
  margin: 8px 0 24px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .eye {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

button[type="submit"] {
  width: 100%;
  background: #ff7a45;
  color: #fff;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
}

.signin {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.signin a {
  color: #ff7a45;
  text-decoration: none;
}


.role-toggle {
  display: flex;
  background: #eef6f5;
  padding: 6px;
  border-radius: 999px;
  margin-bottom: 20px;
}

.role-btn {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  transition: 0.3s;
}

.role-btn.active {
  background: linear-gradient(135deg, #22a6a1, #34d399);
  color: #fff;
}
